#menu>.button {
    margin-right: 0.8rem;
}

#export p{
    margin-bottom: 1rem;
}
#export p>span{
    float: right;
}
#export>#table>.user{
	  display: inline-block;
    border: 1px solid #ccc;
    padding: 0px 0px 0px 1rem;
}
#export>#table>.user .column-40{
    padding:5px;
}
#export>#table>.user .column-25{
    padding:2px;
}

@media print {
   .app>:not(.page), #export>button {
     display:none;
   }
   #export img{
     width: 75%;
   }
   #export>#table{
     font-size: 65%;
   }
}
