
/* Applying size variation */
.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

#menu>.button {
    margin-right: 0.8rem;
}

#export p{
    margin-bottom: 1rem;
}
#export p>span{
    float: right;
}
#export>#table>.user{
	  display: inline-block;
    border: 1px solid #ccc;
    padding: 0px 0px 0px 1rem;
}
#export>#table>.user .column-40{
    padding:5px;
}
#export>#table>.user .column-25{
    padding:2px;
}

#db .fiche{
  display: inline-block;
  background: #d1d1d1;
  text-align: center;
  border-radius: .4rem;
  margin-bottom: 2.5rem;
  margin: 0 10px 10px 10px;
}

#conflict .fiche, #conflict .column {
  background: #d1d1d1;
  text-align: center;
  border-radius: .4rem;
  margin-bottom: 2.5rem;
  margin: 0 10px 10px 10px;
}
#conflict .button {
  margin-right: 0.8rem;
}
#conflict .diff-box{
  text-align: left;
  margin: 0px -10px;
  border-radius: .4rem;
}
#conflict textarea{
  height: 100%;
  width: calc(100% + 10px);
  text-align: left;
  white-space: pre-wrap;
    color: #606c76;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 0.96em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
}


@media print {
   .app>:not(.page), #export>button {
     display:none;
   }
   #export img{
     width: 75%;
   }
   #export>#table{
     font-size: 65%;
   }
}

/* import form Diff lib */

.diff {
 display: inline-block;
}
.diff-level{
 margin-left: 1.6em;
}
.diff-holder{
 color: #666;
 margin: 0;
}
.diff-holder span{
 color: #AAA;
}
del.diff {
 text-decoration: none;
 color: #b30000;
 background: #fadad7;
}
ins.diff {
 background: #eaf2c2;
 color: #406619;
 text-decoration: none;
}
del.diff-key{
 border: 1px solid #f8a4a4;
}
ins.diff-key{
 border: 1px solid #a3ce4c;
 margin-top: -1px;
 position: relative;
}
ins.diff span{
 color: #AABF40;
}
del.diff span{
 color: #EE8177;
}

/* logs style based on : http://codepen.io/chriscoyier/pen/wauoL */

.logs {
	margin: 1em;
        padding: 1em;
	border: 1px #CCC solid;
	border-radius: 10px;
}

.logs p {
    margin: 0 0 1em;
}

.log {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.log-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.log-img img {
    display: block;
}

.log-body {
    overflow: hidden;
}

.log .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.log .text p:last-child {
    margin: 0;
}

.log .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.logs,
.log {
    position: relative;
}

.logs:before,
.log:before,
.log .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.logs:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.log:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.log:hover:before {
    background: orange;
}

.log .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
